@import url(https://fonts.googleapis.com/css?family=Laila:400,700);
@import url(https://fonts.googleapis.com/css?family=Hind:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,900);

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

input {
  width: 100%;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495E;
  border: 2px solid #ECF0F1;
  border-radius: 3px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

input:focus {
  border: 2px solid #1ABC9C;
  outline: 0;
}

.content {
  padding-left: 15px;
  clear: both;
  overflow: hidden;
}

.button {
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  line-height: 1.42857;
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px;
  -webkit-transition: .25s;
  transition: .25s;
  outline: 0;
}

.button-block {
  width: 100%;
}

.button-primary {
  background: #1ABC9C;
  border-color: #1ABC9C;
}

.button-primary:hover {
  background: #fff;
  color: #1ABC9C;
  border-color: #1ABC9C;
}

.button-invert {
  background: #fff;
  color: #1ABC9C;
  border-color: #fff;
}

.button-invert:hover {
  background: #1ABC9C;
  color: #fff;
  border-color: #1ABC9C;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  padding: 5px;
}

.nav-header {
  background: #34495e;
  height: 53px;
}

.nav-header .nav-header-brand {
  padding-left: 10px;
  font-size: 30px;
}

.nav-header a {
  float: left;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}

.nav-sidebar {
  width: 25.333%;
  float: left;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
}

.nav-search {
  position: relative;
  padding: 5px;
  background: #3498DB;
}

.nav-search-input {
  padding: 5px 0;
  color: #34495E;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  text-indent: 7px;
  background: 0;
  border-color: transparent;
  outline: 0;
}

.nav-search-input:focus {
  border-color: transparent;
}

.nav-search-input::-moz-placeholder {
  color: #fff;
}

.nav-search-input:-ms-input-placeholder {
  color: #fff;
}

.nav-search-input::-webkit-input-placeholder {
  color: #fff;
}

.login-form {
  padding: 15px;
  border-radius: 3px;
}

.signup-form {
  margin: 15px;
}

.nav-header-inner {
  float: left;
  background: #3498DB;
  padding: 7px 15px;
  width: 74.6687%;
}

.nav-header-inner .button {
  float: right;
}

.main {
  width: 74.5687%;
  height: 570px;
  float: right;
  padding: 15px 15px 0;
}

.user {
  float: left;
  width: 22.9539%;
  height: 190px;
  padding: 15px 15px 0;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
}

.rant {
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
}

.rant-header {
  margin-bottom: 15px;
}

.rant-header-title {
  float: left;
  width: 60%;
}

.rant-header-title h3 {
  font-size: 29px;
  font-family: Laila, serif;
  font-weight: 700;
  line-height: 1.1;
  color: #34495E;
  margin-top: 0;
  margin-bottom: 0;
}

.rant-header-actions {
  float: right;
}

.rant-header-actions .button {
  float: left;
  margin-left: 15px;
}
