*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
}

a {
  text-decoration: none;
}

.nav-header {
  background-color: #34495e;
  height: 53px;
}

.nav-header a {
  float: left;
  color: #fff;
  padding: 15px;
}
