@import url(https://fonts.googleapis.com/css?family=Laila:400,700);
@import url(https://fonts.googleapis.com/css?family=Hind:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,900);

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

input {
  width: 100%;
}

.content {
  padding-left: 15px;
  clear: both;
  overflow: hidden;
}

.nav-header {
  background-color: #34495e;
  height: 53px;
}

.nav-header .nav-header-brand {
  padding-left: 10px;
  font-size: 30px;
}

.nav-header a {
  float: left;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}

.nav-sidebar {
  width: 25.333%;
  float: left;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
}

.nav-search {
  position: relative;
  padding: 5px;
  background-color: #3498DB;
}

.nav-search-input {
  padding: 5px 0;
  color: #34495E;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  text-indent: 7px;
  background: 0;
  border-color: transparent;
  outline: 0;
}

.nav-search-input::-moz-placeholder {
  color: #fff;
}

.nav-search-input:-ms-input-placeholder {
  color: #fff;
}

.nav-search-input::-webkit-input-placeholder {
  color: #fff;
}
