<section class='rants'>
  {{#each rant in model}}
    <div class='rant'>
      <header class='rant-header'>
        <div class='rant-header-title'>
          <h3>{{rant.title}}</h3>
        </div>
        <div class='rant-header-actions'>
          <button class='button button-primary'>Edit</button>
        </div>
      </header>
      <div class='rant-content'>
        {{rant.body}}
      </div>
    </div>
  {{/each}}
</section>
