<form class='rant'>
  <header class='rant-header'>
    <div class='rant-header-title'>
      {{input placeholder='Rant Title' value=rantTitle autofocus='true'}}
    </div>
    <div class='rant-header-actions'>
      <button class='button button-primary fui-upload'> Save</button>
      <button class='button fui-exit'> Cancel</button>
    </div>
  </header>
  <div class='rant-sidebar'>
    <div class='rant-image'></div>
    <div>0 Characters</div>
  </div>
  <div class='rant-content'>
    {{textarea placeholder='Start your rant' value=rantBody}}
  </div>
</form>
