<section class='rants'>
  {{#each itemController='rant'}}
    {{partial 'rants/rants-list'}}
  {{else}}
    <div class='empty-search'>
      <h3>These aren't the droids you are looking for.</h3>
      <p>Keep searching...</p>
    </div>
  {{/each}}
</section>
