<header class='nav-header' role='navigation'>
  <div class='content'>
    <a class='nav-header-brand' href='/'>Rantly</a>
    <nav>
      <a href='/'>Rants</a>
      <a href='/'>Users</a>
    </nav>
  </div>
</header>

{{outlet}}
