<section class='users'>
  {{#each user in model}}
    <div class='user'>
      <div class='user-image'></div>
      <h5>{{user.name}}</h5>
      <h6>{{user.email}}</h6>
    </div>
  {{/each}}
</section>
